.main{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Google Sans",Arial,Helvetica,sans-serif;
  font-size: 1.5rem;
  letter-spacing: -0.25px;
  line-height: 40px;
  font-weight: 400;
  color: #202124;
  background-color: white;
  border: 0.5rem;
  padding: 0.5rem;
}
.main-back-button{
  font-size: 1.5rem;
  color: #4285f4;
}
.main-post{
  border: 0.4px solid rgba(131, 131, 131, 0.137);
}
.main-comment{
  border: 0.4px solid rgba(131, 131, 131, 0.137);
}
.main-comment:hover{
  background-color: #e8e8e8;
}

.main-comment-body{
  display: flex;
  justify-content: center;
}
.main-comment-author{
  font-size: 1rem;
}

.main-buttons{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.main-button-left{
  align-items: center;
  display: flex;
}
.main-upvote{ 
  font-size: 1.5rem;
}
.main-upvote:hover{
  fill: #2a35de;
}
.main-downvote{ 
  font-size: 1.5rem;
}
.main-downvote:hover{
  fill: #2a35de;
}